  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Markazi+Text:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: poppins;
    background-color: black;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Markazi Text', serif;
    font-family: 'Poppins', sans-serif;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  .main h2{
    margin: 20px 0px;
    font-size: 3em;
    display: flex;
    align-items: center;
    color: #6000ff;
  }
  .main img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .create {
    border: 2px solid grey;
    color: white;
    /* width: 400px; */
    padding: 20px;
    border-radius: 20px;
  }

  .create h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }

  .inpt {
    margin: 25px 0px;
    align-items: center;
    display: flex;
  }

  .inpt input {
    height: 35px;
    width: 100%;
    margin-left: 10px;
    border-radius: 8px;
    padding: 5px 7px 5px 12px;
    font-weight: 600;
  }

  .inpt input::placeholder {
    font-weight: 500;
  }

  .inpt label {
    font-size: 1rem;
    display: flex;
  }

  .checkbox {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
  }

  .checkbox label {
    margin-left: 10px;
  }

  .but-sub {
    text-align: center;
  }
  .but-sub button{
    padding: 6px 18px;
    font-weight: 500;
    font-size: 1em;
    color: #6000ff;
    background-color: white;
    margin: 15px 0px 0px;
    border-radius: 7px;
  }
  .but-sub button:hover{
    color: black;
    background-color: #6000ff;
    font-weight: 600;
  }

  .read {
    border: 2px solid grey;
    color: white;
    /* width: 400px; */
    padding: 20px;
    border-radius: 20px;
  }

  .read h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    text-align: center; 
  }

  .read table{
    border:2px solid pink;
    border-radius: 10px;
  }

  .read table th{
    font-weight: 500;
    padding: 10px 15px;
    color: #6000ff;
  }
  .read table td{
    font-weight: 400;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
  }
  .read table td img{
    width: 20px;
    height: 20px;
  }

  .read .icons{
    background: black;
    border: 0;
  }